<!DOCTYPE html>
<html>

<head>
    <title>Dashboard Pliego</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- BAstrap -->
    <link href="assets/styles/bootstrap.min.css" rel="stylesheet">
    <link href="assets/styles/bastrap.css" rel="stylesheet">
    <link href="assets/styles/ui-grid.min.css" rel="styleSheet" />
    <link href="app/styles.css" rel="stylesheet">
</head>

<body>
    <div class="content" ng-app="dashboard-semaforos" ng-controller="DashboardController as vm">
        <div class="header">
            <div class="logo">
            </div>
            <!--div class="title">
                <h1>DASHBOARD SEMAFOROS</h1>
            </div-->
        </div>
        <div class="content-body">
            <div class="coeficients">
                <h3>Coficientes</h3>
                <div class="rubro" ng-repeat="(key, rubro) in coeficientes">
                    <h6>{{rubro.id}}</h6>
                    <input type="number" name="{{rubro.id}}"  class="form-control" ng-enter="updateRowsMatching('RUBRO',rubro)" ng-model="rubro.value" placeholder="{{rubro.id}}">
                    <div class="subrubro" ng-repeat="(subrubro_key, subrubro) in rubro.subrubro">
                        <h6>{{subrubro.id}}</h6>
                        <input type="number" name="{{subrubro.id}}"  class="form-control" ng-enter="updateRowsMatching('SUBRUBRO',subrubro)" ng-model="subrubro.value" placeholder="{{subrubro.id}}">
                    </div>                
            </div>
            </div>
            <div class="distribution">
                <h3>Distribución de Áreas</h3>
                <div ng-include="'distribution/distribution.html'" scope="" onload="">
                </div>
            </div>
        </div>
        <div class="grid-wrapper">
            <div ui-grid="grid" ui-grid-edit  ui-grid-row-edit ui-grid-cellNav class="grid"></div>
        </div>
    </div>
    <div class="table"></div>
    </div>
    <!--libs-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/d3.v3.js"></script>
    <script src="assets/js/d3.tip.v0.6.3.js"></script>
    <script src="assets/js/angular.min.js"></script>



    <script src="assets/js/ui-grid.min.js"></script>
    <!--app-->
    <script src="app/shared/templates.js"></script>
    <script src="app/app.js"></script>
    <script src="assets/js/ng-enter.directive.js"></script>
    <script src="app/components/barchart/barchart.directive.js"></script>
    <script src="app/components/distribution/distribution.controller.js"></script>
    <script src="app/components/distribution/drag.ul.directive.js"></script>
    <script src="app/components/distribution/drop.div.directive.js"></script>
    <script src="app/components/dashboard.controller.js"></script>
    <script src="app/components/data.origin.service.js"></script>
</body>

</html>
