bar-chart {
    font: 10px sans-serif;
    .bar-text {
        font: 12px sans-serif;
        fill: #FFF;
    }
    .axis {
        path,
        line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
    }
    .bar {
        fill: orange;
        &:hover {
            fill: orangered;
        }
    }
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    /* Creates a small triangle extender for the tooltip */
    &:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }
    /* Style northward tooltips differently */
    &.n:after {
        margin: -2px 0 0 0;
        top: 100%;
        left: 0;
    }
}



@media (max-width: 1366px) and (max-height: 768px){


    .charts{
        // outline:red 10px solid ;

        .bar-chart{
            font-size: 8px;
        }
    }
}