html,
body {
  height: 100%;
  width: 100%;
  background: none; }

.content .title-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  right: 0;
  background: #1D1C1A;
  z-index: 1000;
  animation: show-title  1s;
  transform: translateY(0%); }
  .content .title-wrapper .title {
    font-weight: 300;
    letter-spacing: 6px !important;
    color: #FDD306;
    padding: .5em;
    padding-left: 1em;
    font-size: 1.5em; }
  .content .title-wrapper .links-bar {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1em; }
    .content .title-wrapper .links-bar .link {
      padding: .5em; }
    .content .title-wrapper .links-bar .link.active {
      font-weight: bold; }

.content .content-body {
  outline: 1px dotted red;
  display: flex;
  flex-direction: column; }
  .content .content-body h2 {
    padding-left: 1em; }
  .content .content-body .distribution {
    outline: 1px dotted gray;
    padding: 2em;
    padding-top: 0;
    width: 100vw;
    min-height: 100vh; }
    .content .content-body .distribution h3 {
      margin: 1em; }

@keyframes show-title {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: translateY(0%); } }

bar-chart {
  font: 10px sans-serif; }
  bar-chart .bar-text {
    font: 12px sans-serif;
    fill: #FFF; }
  bar-chart .axis path,
  bar-chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  bar-chart .bar {
    fill: orange; }
    bar-chart .bar:hover {
      fill: orangered; }

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  /* Creates a small triangle extender for the tooltip */
  /* Style northward tooltips differently */ }
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center; }
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0; }

.zone1 {
  border-color: #1f77b4 !important; }

.zone2 {
  border-color: #ff7f0e !important; }

.zone3 {
  border-color: #2ca02c !important; }

.zone4 {
  border-color: #d62728 !important; }

.zone5 {
  border-color: #9467bd !important; }

.zone6 {
  border-color: #8c564b !important; }

.dragg-and-drop-area {
  display: flex; }
  .dragg-and-drop-area .zone-picker {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 30%; }
    .dragg-and-drop-area .zone-picker drag-ul {
      display: inherit;
      cursor: move; }
    .dragg-and-drop-area .zone-picker drop-div {
      display: inherit;
      width: 50%;
      padding: .5em; }
    .dragg-and-drop-area .zone-picker .areas {
      display: -webkit-flex;
      display: flex;
      padding: 15px; }
      .dragg-and-drop-area .zone-picker .areas .list-group {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background: #f7f7f7; }
        .dragg-and-drop-area .zone-picker .areas .list-group .list-group-item {
          border: 1px gray solid; }
    .dragg-and-drop-area .zone-picker .drop-container {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-start;
      -webkit-justify-content: center;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap; }
      .dragg-and-drop-area .zone-picker .drop-container .dropzone {
        width: 100%;
        min-height: 100px;
        border: solid 2px;
        margin: .5em;
        display: -webkit-flex;
        display: flex;
        -webkit-align-content: flex-start;
        -webkit-align-items: flex-start;
        -webkit-justify-content: flex-start;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        position: relative;
        border-radius: 4px; }
        .dragg-and-drop-area .zone-picker .drop-container .dropzone .name {
          bottom: .5em;
          right: .5em;
          position: absolute; }
        .dragg-and-drop-area .zone-picker .drop-container .dropzone .area {
          margin: 5px; }
          .dragg-and-drop-area .zone-picker .drop-container .dropzone .area a {
            color: white;
            cursor: pointer; }
  .dragg-and-drop-area .charts {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-align-content: flex-start;
    -webkit-justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 70%; }
  .dragg-and-drop-area .noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                      not supported by any browser */ }

.data-sources-wrapper {
  height: 100vh; }
  .data-sources-wrapper .data-sources {
    display: flex;
    width: 100vw; }
    .data-sources-wrapper .data-sources .coeficients {
      padding: 1em;
      width: 30%;
      height: 100%; }
      .data-sources-wrapper .data-sources .coeficients h3 {
        margin: 1em;
        margin-left: 0; }
      .data-sources-wrapper .data-sources .coeficients .rubro .subrubro {
        padding-left: 2em; }
    .data-sources-wrapper .data-sources .grid-wrapper {
      width: 70%;
      height: 80%;
      overflow: hidden;
      padding: 1em; }
      .data-sources-wrapper .data-sources .grid-wrapper h3 {
        margin: 1em;
        margin-left: 0; }
      .data-sources-wrapper .data-sources .grid-wrapper .grid {
        width: 90%;
        height: 60vh; }

.data-controladores {
  display: flex;
  min-height: 100vh;
  width: 100vw; }
  .data-controladores .coeficients h3, .data-controladores .costos-wrapper h3 {
    margin: 1em;
    margin-left: 0; }
  .data-controladores .coeficients {
    width: 30%; }
