html,
body,
{
    height: 100%;
    width: 100%;
    background: none;
}


.content {
    .header {
        background: #1D1C1A;
        height: 5%;
        display: flex;
        justify-content: space-between;
    	padding-left: 1em;
    	padding-right: 1em;
        .logo {
            background: url('../assets/img/bac-footer.png');
            height: 45px;
            width: 255px;
            margin: 15px;
        }
        .title {
            color: #FDD306;
            font-size: 2em;
        	float:right;
            letter-spacing: 6px!important;
        }
    }
    .content-body {
        outline: 1px dotted red;
        display: flex;
        flex-direction: column;
        .distribution {
            outline: 1px dotted gray;
            padding:2em;
            h3 {
                margin: 1em;
            }
        }

        .data-sources{
        	display: flex;
	        .coeficients {
	            outline: 1px dotted yellow;
	            padding: 1em;
	            flex-grow: 1;
	            .rubro{
	            	.subrubro{
	            		padding-left: 2em;
	            	}
	            }
	        }
		    .grid-wrapper {
		        outline: 1px dotted blue;
		        
				flex-grow: 1;
		        .grid {
		            width: 1920px;
		            height: 980px;
		        }
		    }
        }
    }
    
}

//imports
@import "components/barchart/barchart";
@import "components/distribution/distribution";
