html, body {
  height: 100%;
  width: 100%;
  background: none; }

.content .header {
  background: #1D1C1A;
  height: 10%;
  display: flex; }
  .content .header .logo {
    background: url("/assets/img/bac-header.png");
    height: 45px;
    width: 272px; }
  .content .header .title {
    color: #FDD306;
    font-size: 2em;
    padding: 1em;
    letter-spacing: 6px !important; }

.content .parameters {
  outline: 1px dotted red;
  display: flex;
  height: 400px; }
  .content .parameters .coeficients {
    flex-grow: 1;
    outline: 1px dotted  yellow; }
    .content .parameters .coeficients h3 {
      margin: 1em; }
  .content .parameters .distribution {
    outline: 1px dotted  gray;
    flex-grow: 1; }
    .content .parameters .distribution h3 {
      margin: 1em; }

.content .grid-wrapper {
  outline: 1px dotted blue;
  width: 1920px; }
  .content .grid-wrapper .grid {
    width: 1920px; }

.bar-chart {
  font: 10px sans-serif; }
  .bar-chart .axis path,
  .bar-chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  .bar-chart .bar {
    fill: orange; }
    .bar-chart .bar :hover {
      fill: orangered; }
  .bar-chart .x .axis path {
    display: none; }
  .bar-chart .tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    /* Creates a small triangle extender for the tooltip */
    /* Style northward tooltips differently */ }
    .bar-chart .tip :after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center; }
    .bar-chart .tip .n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0; }
