                    <h3>PRESTADORES</h3>
<div class="inputs">
	<div class="left">
		<ul>
			<li>
				<div  id="area_1" class="area">Area 1</div>
			</li>
			<li>
				<div  id="area_2" class="area">Area 2</div>
			</li>
			<li>
				<div  id="area_3" class="area">Area 3</div>
			</li>
			<li>
				<div  id="area_4" class="area">Area 4</div>
			</li>
			<li>
				<div  id="area_5" class="area">Area 5</div>
			</li>
			<li>
				<div  id="area_6" class="area">Area 6</div>
			</li>
			<li>
				<div  id="area_7" class="area">Area 7</div>
			</li>
			<li>
				<div  id="area_8" class="area">Area 8</div>
			</li>
			<li>
				<div  id="area_9" class="area">Area 9</div>
			</li>
			<li>
				<div  id="area_10" class="area">Area 10</div>
			</li>

		</ul>
	</div>
	<div class="right">
			<div class="prestador_receptor_container">
				
			</div>
	</div>

</div>
<div class="graphs"></div>
