<h1>Tabla de Entrada</h1>

<div class="data-sources">
    
    <div class="coeficients">
        <h3>Coeficientes</h3>
        <div class="rubro" ng-repeat="(key, rubro) in coeficientes">
            <!-- <h6>{{rubro.id}}</h6> -->
            <input type="number" name="{{rubro.id}}"  class="form-control" ng-enter="updateRowsMatching('RUBRO',rubro)" ng-model="rubro.value" placeholder="{{rubro.id}}">
            <div class="subrubro" ng-repeat="(subrubro_key, subrubro) in rubro.subrubro">
                <!-- <h6>{{subrubro.id}}</h6> -->
                <input type="number" name="{{subrubro.id}}" title="{{subrubro.id}}" class="form-control" ng-enter="updateRowsMatching('SUBRUBRO',subrubro)" ng-model="subrubro.value" placeholder="{{subrubro.id}}">
            </div>                
        </div>
    </div>

    <div class="grid-wrapper">
    <h3>Gastos desagregados</h3>
        <div ui-grid="grid" ui-grid-edit  ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns class="grid"></div>
    </div>
</div>