.data-sources{
		display: flex;
		width: 100vw;
        .coeficients {
 
	        h3 {
            	margin: 1em;
            	margin-left: 0;

        	}
            padding: 1em;
            width: 30%;
            height: 100%;
            //outline: 3px solid red;
            .rubro{ 
            	padding: .25em 0 ;
            	.form-control{
            		font-size: 10px;
            	}

            	.subrubro{
            		padding: .25em 0 ;
            		padding-left: 2em;
            		.form-control{
            			font-size: 10px;
            		}
            	}
            }
        }
	    .grid-wrapper {
	       // outline: 1px dotted blue;
			
	        width: 80%;
	        height: 80%;
	        overflow: hidden;
	        padding:1em;

	        h3 {
            	margin: 1em;
            	margin-left: 0;

        	}
	        .grid {
	            width:  90%;
	            height: 60vh;
	        }

	        .btn.btn-success{

	        	margin-top: 2em;
	        }
	    }
	}