<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Zona 1</li>
                    <li class="list-group-item">Zona 2</li>
                    <li class="list-group-item">Zona 3</li>
                    <li class="list-group-item">Zona 4</li>
                    <li class="list-group-item">Zona 5</li>
                    <li class="list-group-item">Zona 6</li>
                    <li class="list-group-item">Zona 7</li>
                    <li class="list-group-item">Zona 8</li>
                    <li class="list-group-item">Zona 9</li>
                    <li class="list-group-item">Zona 10</li>
                </ul>
            </div>
        </div>
    </div>
</div>
