.zone1 {
    border-color: #1f77b4 !important;
}

.zone2 {
    border-color: #ff7f0e !important;
}

.zone3 {
    border-color: #2ca02c !important;
}

.zone4 {
    border-color: #d62728 !important;
}

.zone5 {
    border-color: #9467bd !important;
}

.zone6 {
    border-color: #8c564b !important;
}
.distribution{
   // outline:red 3px dotted;
    display: flex;

    .zone-picker {
        drag-ul {
            display: inherit;
            cursor: move;
        }
        drop-div {
            display: inherit;
           // outline: 1px solid  gray;
            width: 50%;
            padding:.5em;

        }
        display: -webkit-flex;
        display: flex;
        flex-direction:column;
        padding:1em;
       // outline: 2px solid red;
        width: 30%;
        .areas {

            display: -webkit-flex;
            display: flex;
            padding: 15px;
            padding-bottom: 0;


            .list-group {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                background:#f7f7f7;
                .list-group-item{
                    border: 1px gray solid;
                }
            }
        }
        .drop-container {
           // flex-grow: 1;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: flex-start;
            -webkit-justify-content: center;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            .dropzone {
                width: 100%;
                min-height: 100px;
                border: solid 2px;
                margin: .5em;
                display: -webkit-flex;
                display: flex;
                -webkit-align-content: flex-start;
                -webkit-align-items: flex-start;
                -webkit-justify-content: flex-start;
                -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
                position:relative;
                    border-radius: 4px;
                 .sub-caption:hover{
                    .hiden{
                        outline: red dotted 2px;                     

                    }
                 }                    
                .sub-caption{
                    display: flex;
                    flex-direction: column;
                    font-size: 10px;
                    position: absolute;
                    bottom: -21px;
                    right: 0px;

                    width: 100%;
                    justify-content: space-between;
                    padding: .2em 2.5em;
                    .tooltip{
                        background: #1D1C1A;;
                        color: white;
                        padding: 1em;

                    }
                    .total{
                        background:#1D1C1A;
                        color: #FDD306;
                        padding: .1em .5em;
                        text-align: center;
                    }
                }

                .name{
                    bottom: .5em;
                    right: .5em;
                    position: absolute;
                }
                .area {
                    margin: 5px;
                    a {
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
        .Presupuestos-container{
            padding: 0 1em;
            font-family: gotham;
           // outline: 1px solid blue;
            .item{
                //outline: 1px solid gray;

                width: 50%;
                .cifra{
                    float: right;
                }
            }
            .item.total{
                margin-top: .5em;
                padding: .5em 1em;
                background:#1D1C1A;
                color: #FDD306;
            }
        }
    }

    .charts {

        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-start;
        -webkit-align-content: flex-start;
        -webkit-justify-content: center;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 70%
    }

    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -khtml-user-select: none;
        /* Konqueror */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                      not supported by any browser */
    }
}



@media (max-width: 1366px) and (max-height: 768px){

     h1{
        font-size: 34px;
        width: 30%;
        margin: 0;
     }   
    .distribution{
        .zone-picker{
            .drop-container{
                drop-div{
                    .dropzone{
                        min-height: 75px;
                        .area{
                            margin:2px;
                        }
                        .label-info{
                            font-size: 60%;
                            .sub-caption{
                                font-size: 9px;
                                    bottom: -28px;
                            }
                        }
                        .name{
                            font-size: 10px;
                        }
                    }
                }
            }
            .areas {
                padding: 7px;
                .list-group {
                    .list-group-item{
                        font-size: 10px;
                        padding: 5px 7px;
                    }
                }
            }
            .Presupuestos-container{
                .item{
                    width: 100%;
                }
            }


        }
    }
}