 <h1>Distribución de Áreas</h1>
<div class="dragg-and-drop-area" ng-controller="DistributionCtrl">
    <div class="zone-picker">
        <div class="areas">

            <ul class="list-group">
                <drag-ul ng-repeat="area in areas" data="area"></drag-ul>
            </ul>
        </div>
        <div class="drop-container">
            <drop-div dropzone="zone" ng-repeat="zone in dropzones"></drop-div>
        </div>
        <div class="Presupuestos-container">
            <h5>Presupuesto</h5>
            <div class="item">  Ordinario: <span class="cifra">{{cantidades.ordinario | guita}}</span></div>
            <div class="item">  Recambio:  <span class="cifra">{{cantidades.recambio | guita}}</span></div>
            <div class="item total">  Total:     <span class="cifra">{{(cantidades.ordinario+cantidades.recambio) | guita}}</span></div>
        </div>

    </div>
    <div class="charts">
    	<bar-chart id="global" chart-data="globalChartData"></bar-chart>
    	<bar-chart id="rubroA" chart-data="aChartData"></bar-chart>
    	<bar-chart id="rubroB" chart-data="bChartData"></bar-chart>
    	<bar-chart id="rubroC" chart-data="cChartData"></bar-chart>
    </div>
</div>