<div ng-class="zone" class="dropzone">
    <span ng-repeat="area in dropzone.areas" class="area label label-info">{{area.name}}
    	<a ng-click="remove(area)">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
    	</a>
    </span>
    <div ng-if="dropzone.total>0" class="sub-caption">
        <span ng-if="dropzone.recambio > 0">
        	<!-- <div class="tooltip"> -->
        		<!-- <div class="ordinario">{{dropzone.total | guita }}</div>  -->
            	<!-- + <div class="recambio">{{dropzone.recambio | guita }}</div>  -->
            	<div class="total">{{(dropzone.total+dropzone.recambio) | guita}}</div>
          <!-- </div> -->
        </span>
        <div ng-if="dropzone.recambio <= 0">
            <div class="total"> {{dropzone.total | guita}}</div> 
        </div>
    </div>

    <span class="name">Zona {{dropzone.name}}</span>
</div>
