.data-controladores{
	display:flex;
	min-height:100vh;
	width:100vw;
	.coeficients , .costos-wrapper {
		h3 {
			margin: 1em;
			margin-left: 0;
		}
	}


  .coeficients{
  	width: 30%
  }
  .costos-wrapper{}
}